body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange{
    color: orangered;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 100%;
    padding-left: 80px;
}
.half-width img{
    width: 84%;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(cyan, blue);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: bisque;
    }
    .top-section{
        background-image: url(images/top-banner.png);
        background-repeat:no-repeat
    }
.experience-section{
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
        
    }

    .experience-element{
        width: 40%;
        margin-left: 5%;
        padding-left: 10%;
        box-shadow: 5px  5px 30px green;
        border-radius: 5px;
        
    }

    #full-stack{
        border-left: 8px solid cyan;
    }
#Baby-dev{
    border-left: 8px solid purple;
}
footer{
    text-align: center;
}
